html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: grey;
}

p {
    font-size: 20px;
    line-height: 1;
}

.app-container {
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.app-container::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 110%;
    height: 110%;
    background: url('/images/auction.png');
    background-size: cover;
    filter: blur(15px);
    z-index: 0;
}

.app-container > * {
    position: relative;
    z-index: 1;
}

.skill-web {
    width: 100%;
    height: 100%;
}

.combat-skills {
    width: 100%;
    height: 100%;
}

.tabs {
    flex: 1;
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-container {
    flex: 15;
}


.skill-effects {
    flex: 4;
    background-color: #141414;
    color: white;
    padding: 1rem;
}

.panel {
    background-color: #000000aa;
    padding: 1rem;
    height: 80%;
    width: 80%;
}

.help-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.at-limit {
    color: orange;
}

.over-limit {
    color: red;
}





/* 
KEEP AT THE BOTTOM PLEASE FOR THE LOVE OF GOD 
If this is moved above something like .xyz-container it will break
*/
.hidden {
    display: none !important;
}