html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: grey;
}

p {
    font-size: 20px;
}

.skills-container {
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.skills-container::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 110%;
    height: 110%;
    background: url('images/auction.png');
    background-size: cover;
    filter: blur(10px);
    z-index: 0;
}

.skills-container > * {
    position: relative;
    z-index: 1;
}

.tabs {
    flex: 1;
    background-color: #141414;
    color: white;
}

.skill-web {
    flex: 15;
}

.skill-effects {
    flex: 4;
    background-color: #141414;
    color: white;
    padding: 1rem;
}