html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: grey;
}

p {
    font-size: 20px;
    line-height: 1;
}

.app-container {
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.app-container::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 110%;
    height: 110%;
    background: url('/images/auction.png');
    background-size: cover;
    filter: blur(15px);
    z-index: 0;
}

.app-container > * {
    position: relative;
    z-index: 1;
}

.skill-web {
    width: 100%;
    height: 100%;
}

.combat-skills {
    width: 100%;
    height: 100%;
}

.tabs {
    flex: 1;
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-button {
    background-color: #141414;
    color: white;
    border-style: solid;
    border-color: #0e0e0e;
    filter: invert(0);
    border-radius: 6px;
}


.tab-button:hover {
    filter: invert(1);
}

.tab-container {
    flex: 15;
}


.skill-effects {
    flex: 4;
    background-color: #141414;
    color: white;
    padding: 1rem;
    overflow-y: auto;
    height: calc(100vh);
}

.panel {
    background-color: #000000aa;
    padding: 1rem;
    height: 80%;
    width: 80%;
}

.help-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.at-limit {
    color: orange;
}

.over-limit {
    color: red;
}

.inventory-container {
    display: flex;
    gap: 1rem;
}

.inventory-panel {
    display: flex;
    flex: 1;
    padding: 0.5rem;
    background-color: #1e1e1e;
    color: #eee;
    flex-direction: column;
}

.scroll-rect {
    overflow-y: auto;
    height: calc(80vh);
}

.item-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-tabs button {
    flex: 1;
}

.item-list {
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.bag-choice-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item {
    border-style: solid;
    border-color: #0e0e0e;
    border-radius: 6px;
    padding: 5px;
    font-size: large;
}


/* 
KEEP AT THE BOTTOM PLEASE FOR THE LOVE OF GOD 
If this is moved above something like .xyz-container it will break
*/
.hidden {
    display: none !important;
}